@using Resume.Infrastructure.Entities.Membership;
@model IEnumerable<ResumeUser>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        table {
            width: 80%;
            margin: 50px auto;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e0e0e0;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
            text-underline-offset:unset;
        }
    </style>

    <table>
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td><img src="~/uploads/images/@item.ImagePath" alt="User 1"></td>
                <td><a asp-action="details" onclick="addcookie(@item.Id)">@item.Name @item.Surname</a></td>
            </tr>
        }
        </tbody>
    </table>

    <script>
        function addcookie(userId) {

        document.cookie =`userid = ${userId}`;

        }
 
    </script>

