@model Resume.Business.Modules.AccountModule.Commands.RegisterCommand.RegisterRequest
@{
    ViewData["Title"] = "Register";
}
<div class="register-area pb-50 login-form-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text mb-30">
                            <h2>Create Account</h2>
                            <span></span>
                        </div>
                        <div class="login-form">
                            <form method="post" id="create_customer" enctype="multipart/form-data">
                                <input type="hidden" name="form_type" value="create_customer" /><input type="hidden" name="utf8" value="✓" />

                                <label asp-for="Name" class="hidden-label"></label>
                                <input asp-for="Name" class="input-full" placeholder="First Name" autocapitalize="words" autofocus>

                                <label asp-for="Surname" class="hidden-label"></label>
                                <input asp-for="Surname" class="input-full" placeholder="Last Name" autocapitalize="words">

                                <label asp-for="Age" class="hidden-label"></label>
                                <input asp-for="Age" class="input-full" placeholder="Age" autocapitalize="words" autofocus>

                                <label asp-for="Phone" class="hidden-label"></label>
                                <input asp-for="Phone" class="input-full" placeholder="Phone" autocapitalize="words" autofocus>

                                <label asp-for="Email" class="hidden-label"></label>
                                <input asp-for="Email" class="input-full" placeholder="Email" autocorrect="off" autocapitalize="off">

                                <label asp-for="Location" class="hidden-label"></label>
                                <input asp-for="Location" class="input-full" placeholder="Location" autocapitalize="words" autofocus>

                                <label asp-for="EducationDegree" class="hidden-label"></label>
                                <input asp-for="EducationDegree" class="input-full" placeholder="Education degree" autocapitalize="words" autofocus>

                                <label asp-for="CareerLevel" class="hidden-label"></label>
                                <input asp-for="CareerLevel" class="input-full" placeholder="Career level" autocapitalize="words" autofocus>

                                <label asp-for="About" class="hidden-label"></label>
                                <textarea asp-for="About" class="input-full" placeholder="About yourself" autocapitalize="words" autofocus> </textarea>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Image</label>
                                    <div class="col-sm-10">
                                        <label class="imager">
                                            <input type="file" class="form-control" name="file">
                                        </label>
                                    </div>
                                </div>


                                <label asp-for="Password" class="hidden-label"></label>
                                <input asp-for="Password" type="password" class="input-full" placeholder="Password">

                                <label asp-for="PasswordConfirm" class="hidden-label"></label>
                                <input asp-for="PasswordConfirm" type="password" class="input-full" placeholder="Password">
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <button type="submit" class="section-button">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.addEventListener('load', function () {

        [...document.querySelectorAll('.imager input[type=file]')].forEach(item => {
            item.addEventListener('change', function (ev) {
                let reader = new FileReader();

                reader.onload = function () {
                    ev.target.parentElement.style.backgroundImage = `url(${reader.result})`;
                };

                reader.onerror = function () {
                    console.log(reader.error);
                };

                reader.readAsDataURL(ev.currentTarget.files[0]);
            });

        });
    });
</script>