@model Resume.Business.Modules.AccountModule.Commands.SignInCommand.SignInRequest
@{
    ViewData["Title"] = "SignIn";

}

<div class="register-area pb-50 login-form-section ">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="note form-success" id="ResetSuccess" style="display: none;">
                    We&#39;ve sent you an email with a link to update your password.
                </div>

                <div id="CustomerLoginForm" class="login">
                    <form method="post" id="customer_login">
                        <div class="login-form-container">
                            <div class="login-text login-title mb-30">
                                <h2>Login</h2>
                                <p></p>
                            </div>
                            <div class="login-form">
                                <input asp-for="UserName" class="input-full" placeholder="Email or Username">

                                <input asp-for="Password" type="password" class="input-full" placeholder="Password">

                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <button type="submit" class="section-button">Sign In</button>

                                        <a href="#recover" id="RecoverPassword">Forgot your password?</a>

                                    </div>
                                    <div class="create-account-btn">
                                        <a href="register.html">Create Account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="return_url" value="/account" />
                    </form>
                </div>

                <div id="RecoverPasswordForm" style="display: none;" class="login">
                    <form method="post" action="https://bigon-5.myshopify.com/account/recover" accept-charset="UTF-8">
                        <input type="hidden" name="form_type" value="recover_customer_password" /><input type="hidden" name="utf8" value="✓" />





                        <div class="login-form-container">
                            <div class="login-text">
                                <h2>Reset your password</h2>
                                <span>We will send you an email to reset your password.</span>
                            </div>
                            <div class="login-form">
                                <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="Email" autocorrect="off" autocapitalize="off">
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <button type="submit" class="section-button">Submit</button>
                                        <a href="#" id="HideRecoverPasswordLink">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
